/* Container */
.c {
  background: rgba(255, 255, 255, 0.04);
  backdrop-filter: blur(14px);
  -webkit-backdrop-filter: blur(14px);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 16px;
  padding: 0px 24px 20px;
  margin: 20px;
  color: #e0e0e0;
  font-family: 'Poppins', sans-serif, Courier, monospace;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.4);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  max-width: 500px;
}

/* Hover Elevation */
.c:hover {
  transform: translateY(-6px);
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.5);
}

/* Title */
.t {
  margin-top: 19px;
  margin-bottom: 0px;
  font-size: 19px;
  font-weight: 600;
  color: #ffffff;
  word-break: break-word;
  font-weight: 400;
}

/* Description */
.d {
  margin-top: 6px;
  font-size: 14px;
  line-height: 1.6;
  color: #bbbbbb;
  margin-bottom: 18px;
  font-weight: 300;
}

/* Languages Wrapper */
.l {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

/* Language Item */
.lang {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 0.85rem;
  background-color: rgba(255, 255, 255, 0.06);
  padding: 6px 10px;
  border-radius: 999px;
  color: #dddddd;
}

/* Colored Dot */
.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: inline-block;
}
