.skills-container {
    display : flex;
    flex-direction: column;
    margin-top: 70px;
    align-items: center;
    margin-bottom: 100px;
}

.logo-holder {
    display: flex;
    flex-direction: row;
    gap: 40px;
    justify-content: center;
    align-items: center;
    margin-top: 17px;
    margin-bottom: 45px;
}

.headings {
    text-align: center;
    font-family: 'Poppins', sans-serif, Courier, monospace;
    font-size: 27px;
    font-weight: 500;
    margin-bottom: 17px;
}

.icon {
    height: 62px;
    width: auto;
}